<a href="https://colab.research.google.com/github/Nazanwa/Introduction-to-python-for-machine-learning-quiz-/blob/main/Oroke_Chinaza_Blessing_(164f7264dc41f000)_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**INTRODUCTION TO PYTHON FOR MACHINE LEARNING TAG-ALONG CODE**

Importing of libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt

Uploading ofthe dataset on google colab

In [2]:
from google.colab import files

In [3]:
uploaded=files.upload()

Saving FoodBalanceSheet.csv to FoodBalanceSheet.csv

Reading the csv file in pandas

In [4]:
food=pd.read_csv('./FoodBalanceSheet.csv', encoding='latin-1')

In [5]:
food

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

**Hamoye Stage A Internship Questions and Answers**

**Question 1:**
What is the mean and standard deviation across the whole dataset for the year 2017 to two decimal places?

**Answer: 140.92 and 1671.86, option 4**

In [6]:
food.describe()

##

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

**Question 2:** A pandas dataframe with dimensions (100,3) has how many features and observations?

**Answer:The dataframe has 3 features and 100 observations, option 3**

**Question 3:** Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

**Answer: Nigeria, option 5**

In [ ]:
food.groupby('Area')['Y2017'].sum().sort_values(ascending=False)[:7]

Area
Nigeria         1483268.23
Egypt            866379.92
South Africa     517590.54
Ethiopia         448683.76
Morocco          388495.36
Ghana            337599.06
Algeria          325644.27
Name: Y2017, dtype: float64

**Question 4:** Which of the following is a python inbuilt module?

**Answer: Math, option 3**

**Question 5:** What is the total sum of Wine produced in 2015 and 2018 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’

**Answer: 4251.81 and 4039.32, option 1**

In [ ]:
wine= food.groupby('Item')['Y2015','Y2018'].sum()
wine

<ipython-input-16-d15efcdf2caa>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  wine= food.groupby('Item')['Y2015','Y2018'].sum()

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

**Question 6:** Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

**Answer: Guinea-Bissau, option 1**

In [ ]:
food.groupby('Area')['Y2017'].sum().sort_values(ascending=True)[:7]

Area
Sudan (former)               0.00
Ethiopia PDR                 0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Name: Y2017, dtype: float64

**Question 7** Which year had the least correlation with ‘Element Code’?

**Answer: 2016, option 4**

In [ ]:
food.corr()['Element Code']

Area Code      -0.000209
Item Code      -0.024683
Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64

**QUESTION 8:** Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

How would you assign element 8 from the list to a variable x?

**Answer: x = y[1][-1] and x = y[1][1], option 1 and 3**

In [ ]:
y=[(2,4),(7,8),(1,5,9)]
print ( y[1][-1])
print ( y[1][1])

8
8

**Question 9:** Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

**Answer: 2014, option 4**

In [ ]:
food.groupby ('Element')['Y2014','Y2015','Y2016','Y2017','Y2018'].sum()

<ipython-input-35-0da56a814a04>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  food.groupby ('Element')['Y2014','Y2015','Y2016','Y2017','Y2018'].sum()

,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
Feed,216927.89,225050.22,228958.65,223705.68,233489.68
Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
Processing,282923.00,287929.00,280631.00,292836.00,308429.00
Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,416.00,349.00,89.00,91.00,90.00

**Question 10:** if you have the following list

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = [‘Age’,’Nationality’,’Overall’]

How do you create a pandas DataFrame using this list?

**Answer: pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])

 pd.Dataframe(lst, columns = col, index = [1,2,3])

pd.Dateframe(lst, column = [‘Age’,’Nationality’,’Overall’], index = [1,2,3]), option 1,4,5**

In [7]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age', 'Nationality', 'Overall']
pd.DataFrame(lst, columns=col, index=[1,2,3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [8]:
pd.DataFrame(lst, columns=['Age', 'Naionality', 'Overall'], index=[1,2,3])

   Age Naionality  Overall
1   35   Portugal       94
2   33  Argentina       93
3   30     Brazil       92

In [9]:
pd.DataFrame(lst, columns=col, index=[i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

**Question 11:** Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

**Answer: Type Error, option 3**

In [10]:
my_tuple = (1,2,5,8)
my_tuple[2] = 6

TypeError: ignored

**Question 12:** What is the total number and percentage of missing data in 2014 to 3 decimal places?

**Answer: 1589 and 2.607%, option 5**

In [11]:
food.isnull().sum().loc['Y2014']

1589

In [12]:
food.isnull().sum().loc['Y2014'] / food.shape[0] * 100

2.6073544131401474

**Question 13:** What is the total Protein supply quantity in Madagascar in 2015?

**Answer: 173.05, option 1**

In [13]:
food[food.Area == 'Madagascar'].groupby('Element')['Y2015'].sum()

Element
Domestic supply quantity                  31214.98
Export Quantity                             494.75
Fat supply quantity (g/capita/day)           91.85
Feed                                       2070.22
Food                                      21120.65
Food supply (kcal/capita/day)              7685.00
Food supply quantity (kg/capita/yr)         871.59
Import Quantity                            1721.80
Losses                                     2176.00
Other uses (non-food)                      3957.12
Processing                                 1803.00
Production                                29482.89
Protein supply quantity (g/capita/day)      173.05
Residuals                                  -616.00
Seed                                        699.00
Stock Variation                            -505.00
Total Population - Both sexes             24234.00
Name: Y2015, dtype: float64

**Question 14:** What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

**Answer: e , option 1**

In [15]:
 S= [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

**Question 15:** What is the total number of unique countries in the dataset?

**Answer: 49, option 1**

In [16]:
len(food.Area.unique())

49

**Question 16:**Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

**Answer: 292836.00, option 1**

In [17]:
food.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

**Question 17:** Given the following numpy array 

array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

How would you select  the elements in bold and italics from the array?

**Answer: array[ : 2, 1 : ] , option 5**

In [18]:
array = np.array([[94, 89, 63],
                  [93, 92, 48],
                  [92, 94, 56]])
array

array([[94, 89, 63],
       [93, 92, 48],
       [92, 94, 56]])

In [19]:
array[:2, 1:]

array([[89, 63],
       [92, 48]])

**Question 18:** Which of these python data structures is unorderly?

**Answer: set, option 3**

**Question 19:** How would you check for the number of rows and columns in a pandas DataFrame named df?

**Answer: df.shape, option 2**

**Question 20:** Which of the following dataframe methods can be used to access elements across rows and columns?

**Answer: df.iloc[ : ] , option 1**